*.iml
.gradle
/local.properties
/.idea
/build
/app/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
*.ap_
*.aab_
*.hprof
*.keystore
*.jks
.classpath
.project
.settings
.DS_Store
Thumbs.db
*.log
*.tmp
